/* Global */

.body {
    background: rgb(43, 43, 43);
}

/* Class */
    
    /* Tabs */ 

.tab {
    text-align: center;
    background: #424242;
}

/*.act-is {
    color: #5f2a75;
} */

.icon-tab {
    font-size: 25px;
}   

.but-tab {
    width: 60px;
    height: 40px;
}

/* Img-pod */
.img-pod {
    text-align: center;

    margin-left: 5%;
    margin-right: 5%;

    padding: 0.5rem;
    
    color: white;
    background: #198754;

    height: 33rem;

    border-radius: 40px;
}

.txt-title-1-p {
    font-size: 3vh;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 1rem;
    margin-left: 4%;
    margin-right: 4%;
}

.txt-desc-2-p {
    font-size: 20px;
    padding: 1rem 1.5rem;
}


.div-time-st {
    /* background: #341558; */
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 0.5rem 0.05rem;
}

.div-rat-st {
    /* background: #341558; */
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 0.5rem 0.05rem;
}


.txt-time-st {
    font-size: 25px;
}

.txt-rat-st {
    font-size: 25px;
}

.icon-st {
    font-size: 40px;
    
}

/* Box (button)*/

.butt-box-p {
    text-align: center;
    border: none;
}   

.a-butt-box-p-pl {
    color:#f14668;
    margin-right: 15%;
}

.a-butt-box-p-pl:focus {
    color:#b93851;
}

.a-butt-box-p-pl:hover {
    color:#b93851;
}


.a-butt-box-p-st {
    color:#fee08a;
    margin-left: 15%;
}

.a-butt-box-p-st:focus {
    color:#b49e60;
}

.a-butt-box-p-st:hover {
    color:#b49e60;
}

.icon-butt-box {
    font-size: 50px;
}